38-04-usb-sleuth-backups
38-04-usb-sleuth.kicad_sch-bak
~38-04-usb-sleuth.kicad_sch.lck

# Folders
scr/
!src/scr/*.ioc
!src/src/Core
99-Notes-Screenshots/

# Cache things
.DS_Store
fp-info-cache
fp-lib-table
